/* global styles */
@font-face {
    font-family: 'proximaNova';
    src: url(/fonts/ProximaNovaRegular.ttf);
}
@font-face {
    font-family: 'thinProximaNova';
    src: url(/fonts/ProximaNovaThin.ttf);
}
@font-face {
    font-family: 'boldProximaNova';
    src: url(/fonts/ProximaNovaBold.ttf);
}
:root {
    --navy: #284051;
    --aqua: #67BFB6;
    --white: #ffffff;
}
html, body {
    margin: 0;
}
/* nav bar styles */
nav #navBar {
    width: 100vw;
    height: 7vh;
    background: var(--navy);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #navBar #logo {
    height: 5vh;
    margin-left: 1vh;
}
nav #navBar #moreButton {
    height: 5vh;
    margin: 0 1vh 0 0;
    background: none;
    border: none;
}
nav #navBar #moreButtonImg {
    height: 5vh;
}
nav #navButtonsSection {
    position: fixed;
    z-index: 8;
    top: 7vh;
    left: 0;
    width: 100vw;
    height: 42vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--navy);
    transition: transform 0.5s ease-in-out;
}
.navButtons-slide-out {
    transform: translateY(-42vh);
}
.navButtons-slide-in {
    transform: translateY(0);
}
nav #navButtonsSection a {
    background: var(--navy);
    height: 7vh;
    width: 100vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-decoration: none;
    margin: 0;
}
/* header styles */
header {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header #heroImage {
    height: 60vh;
    width: auto;
    justify-self: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}
header #floatingLogo {
    position: absolute;
    height: 30vh;
}
