/* global styles */
@font-face {
    font-family: 'robotoSlab';
    src: url(fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'nunitoItalic';
    src: url(fonts/Nunito-Italic-VariableFont_wght.ttf);
}
:root {
    --navy: #284051;
    --aqua: #67BFB6;
    --white: #ffffff;
}
html, body {
    margin: 0;
}
button:hover {
    cursor: pointer;
}
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
/* nav bar styles */
#navBar {
    width: 100vw;
    height: 7vh;
    background: var(--navy);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px;
}
#logo {
    height: 5vh;
    margin-left: 1vh;
}
#logo:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}
#moreButton {
    height: 5vh;
    margin: 0 1vh 0 0;
    background: none;
    border: none;
}
#moreButtonImg {
    height: 5vh;
    transition: filter 0.5s;
}
.filterWhite {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}
#navButtonsSection {
    position: fixed;
    z-index: 8;
    top: 7vh;
    left: 0;
    width: 100vw;
    height: 42vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--navy);
    transition: transform 0.5s ease-in-out;
}
.navButtons-slide-out {
    transform: translateY(-42vh);
}
.navButtons-slide-in {
    transform: translateY(0);
}
#navButtonsSection a {
    background: var(--navy);
    height: 7vh;
    width: 100vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-decoration: none;
    margin: 0;
    font-family: 'robotoSlab', sans-serif;
}
#navButtonsSection a:active {
    background: var(--aqua);
}
/* header styles */
header {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}
#heroImage {
    height: 60vh;
    width: auto;
    justify-self: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 90% 50%;
    filter: blur(5px);
}
#floatingLogo {
    position: absolute;
    height: 30vh;
}
